.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: black;
    color: aliceblue;
    height: 5rem;
    align-items: center;

}

.navbar{
    display: flex;
    gap:1rem;

}

.link{
    color: aliceblue;
    font-family: var(--basic-font);
    font-size: 1.2rem;
    text-decoration: none;
}

.link:hover{

}

.link:active {

}

button {
    font-size: 1rem;
    padding: 4px;
    font-family: var(--basic-font);
    font-size: 1.2rem;
    background-color: aliceblue;
    border-radius: 3px;
    padding-left: 1rem;
    padding-right: 1rem;
}

input {
    padding: 7px;
    margin-right: 1rem;
}

label {
    color: aliceblue;
    font-family: var(--basic-font);
    font-size: 1.2rem;
    margin-right: 1rem;
}